body {
	font-family: sans-serif;
}

.nav {
	background-color: #333;
	color: white;
	height: 50px;
	width: 100%;
}

li {
	list-style: none;
}
img {
	float: left;
	height: 100px;
	margin-top: 15px;
	margin-right: 10px;
}

button {
	height: 30px;
	width: 300px;
	border-radius: 5px;
	box-shadow: 2px 2px black;
	float: left;
	color: black;
	margin-top: 10px;
	margin-left: 10px;
}

button:hover {
	box-shadow: 2px 2px 1px white;
}